<?xml version="1.0" ?>
<settings version="1">
    <section id="script.akl.screenscraper">
        <category id="akl_general" label="30010" help="">
			<group id="1">
                <setting id="scraper_screenscraper_ssid" type="string" label="30101" help="">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30101</heading>
                    </control>
                </setting>
                <setting id="scraper_screenscraper_sspass" type="string" label="30102" help="">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30101</heading>
                        <hidden>true</hidden>
                    </control>
                </setting>
                <setting id="scraper_screenscraper_region" type="integer" label="30103" help="">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30921">0</option>
                            <option label="30922">1</option>
                            <option label="30923">2</option>
                            <option label="30924">3</option>
                            <option label="30925">4</option>
                            <option label="30926">5</option>
                            <option label="30927">6</option>
                            <option label="30928">7</option>
                            <option label="30929">8</option>
                            <option label="30930">9</option>
                            <option label="30931">10</option>
                            <option label="30932">11</option>
                            <option label="30933">12</option>
                            <option label="30934">13</option>
                            <option label="30935">14</option>
                            <option label="30936">15</option>
                            <option label="30937">16</option>
                            <option label="30938">17</option>
                            <option label="30939">18</option>
                            <option label="30940">19</option>
                            <option label="30942">20</option>
                            <option label="30943">21</option>
                            <option label="30944">22</option>
                            <option label="30945">23</option>
                            <option label="30946">24</option>
                            <option label="30947">25</option>
                            <option label="30948">26</option>
                            <option label="30949">27</option>
                            <option label="30950">29</option>
                            <option label="30951">30</option>
                            <option label="30952">31</option>
                            <option label="30953">32</option>
                            <option label="30954">33</option>
                            <option label="30955">34</option>
                            <option label="30956">35</option>
                            <option label="30957">36</option>
                            <option label="30958">37</option>
                            <option label="30959">38</option>
                            <option label="30960">39</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="scraper_screenscraper_language" type="integer" label="30104" help="">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30961">0</option>
                            <option label="30962">1</option>
                            <option label="30963">2</option>
                            <option label="30964">3</option>
                            <option label="30965">4</option>
                            <option label="30966">5</option>
                            <option label="30967">6</option>
                            <option label="30968">7</option>
                            <option label="30969">8</option>
                            <option label="30970">9</option>
                            <option label="30971">10</option>
                            <option label="30972">11</option>
                            <option label="30973">12</option>
                            <option label="30974">13</option>
                            <option label="30975">14</option>
                            <option label="30976">15</option>
                            <option label="30977">16</option>
                            <option label="30978">17</option>
                            <option label="30979">18</option>
                            <option label="30980">19</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="scraper_cache_dir" type="path" label="30105" help="">
                    <level>1</level>
                    <default></default>
                    <constraints>
                        <writable>true</writable>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="button" format="path">
                        <heading>30105</heading>
                    </control>
                </setting>
                <setting id="log_level" type="integer" label="30129" help="">
                    <level>1</level>
                    <default>1</default>
                    <constraints>
                        <options>
                            <option label="30911">0</option>
                            <option label="30912">1</option>
                            <option label="30913">2</option>
                            <option label="30914">3</option>
                            <option label="30915">4</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="akl.enabled" type="boolean" label="Enable as AKL plugin" help="">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="akl.plugin_types" type="string" label="AKL plugin type(s)" help="">
                    <level>4</level>
                    <default>SCRAPER</default>
                </setting>
                <setting id="akl.scraper.supported_metadata" type="string" label="Metadata supported by this scraper" help="">
                    <level>4</level>
                    <default>title|year|genre|developer|nplayers|esrb|plot</default>
                </setting>
                <setting id="akl.scraper.supported_assets" type="string" label="Assets supported by this scraper" help="">
                    <level>4</level>
                    <default>fanart|banner|snap|clearlogo|boxfront|boxback|3dbox|cartridge|map|trailer</default>
                </setting>
                <setting id="akl.scraper.friendlyname" type="string" label="Scraper friendlyname" help="">
                    <level>4</level>
                    <default>Screenscraper</default>
                </setting>
            </group>
        </category>
    </section>
</settings>